<div class="rmu-combat-storyboard-layout">
    {{! The Tabs Navigation }}
    {{{part "tabs"}}}

    {{! The Content Area }}
    <div class="rmu-combat-storyboard-main-container">
        {{{part "config"}}}
        {{{part "roster"}}}
        {{{part "timeline"}}}
        {{{part "export"}}}
    </div>
</div>