<div class="rmu-combat-narrator-main rmu-combat-narrator-window-scrollable {{#if (eq state.activeTab 'roster')}}active{{/if}}" data-tab="roster" data-group="primary">

    <p class="hint">{{localize "RMU_NARRATOR.Wizard.Hints.Roster"}}</p>

    {{#each state.roster as |actor|}}
        <fieldset class="rmu-combat-narrator-fieldset">
            <legend>{{actor.name}}</legend>
            <div class="form-group stacked">
                <textarea name="roster.{{actor.id}}" rows="2">{{actor.descriptor}}</textarea>
            </div>
        </fieldset>
    {{else}}
        <div class="rmu-combat-narrator-empty">
            <p>{{localize "RMU_NARRATOR.Wizard.Empty.Roster"}}</p>
        </div>
    {{/each}}

</div>